# Run on Kraken
STACKER_EXCHANGE=kraken

# used to authenticate with Kraken
STACKER_API_KEY=<API_KEY>
STACKER_API_SECRET=<SECRET_KEY>

# used for buying
STACKER_STACK_FIAT=EUR
STACKER_STACK_AMOUNT=10
STACKER_STACK_ORDER_TYPE=market

# used for withdrawal
#KRAKEN_MAX_REL_FEE=0.5
#KRAKEN_WITHDRAW_KEY=<NAME_OF_WITHDRAWAL_ADDRESS_EXISTING_ON_KRAKEN>

## SimplePush
STACKER_NOTIFIER=simplepush
STACKER_SP_PASSWORD=<PASSWORD>
STACKER_SP_SALT=<SALT>
STACKER_SP_KEY=<KEY>
STACKER_SP_EVENT=stacksats

STACKER_DRY_RUN=false
STACKER_DEBUG=true
